:root {
  --primary-color-white:#FFFFFF;
  --primary-color-grey:#BBBBBB;
  --primary-color-pink:#ED4D88;
  --primary-color-red:#f63131;
  --primary-color-orange:#F65425;
  --primary-color-orange-2:#da422a;
  --primary-color-yellow:#ffde00;
  --primary-color-yellow-2:#FAB702;
  --primary-color-lime:#8BAD01;
  --primary-color-green:#11B555;
  --primary-color-aqua:#33C9BD;
  --primary-color-blue:#43a2dc;
  --primary-color-purple:#C762CB;
}
